<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Dev-local: copy to app/src/main/res/values/strings.xml (this file is gitignored) -->
    <string name="google_server_client_id">REPLACE_ME.apps.googleusercontent.com</string>
</resources>
